DATABASE_URL=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

GOOGLE_SERVICE_ACCOUNT_JSON=
MAGIC_LINK_BASE_URL=
MAGIC_LINK_TTL_DAYS=

GOOGLE_ANALYTICS_PROPERTY_ID=
GOOGLE_SEARCH_CONSOLE_SITE_URL=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=

APP_BASE_URL=
REPORT_ACCESS_SECRET=
